<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"><title>Agenda Contactos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' type='text/css' href='/stylesheets/wide.css' 
media='only screen and (min-width: 530px) and (min-device-width: 481px)'/>
<link rel='stylesheet' type='text/css' href='/stylesheets/smartphone.css'
media='only screen and (max-width: 480px)' />
 </head>
  <body>
    <div id="page_wrap">
    	<header class="main" id="h1">
	  			<h2>MUEBLERIA "AMERICAN"</h2>
	  		</header>
      <nav class="main" id="n1" role="navigation">
			      	<span><a href="/">Inicio</a></span>
	<span><a href="/RegistrarContacto">Registrar Contacto</a><span>
               <span><a href="/cliente">Cliente</a></span>
            <span><a href="/productos">Productos</a></span>
              <span><a href="/promociones">Promociones</a></span>
                    <span><a href="/ofertas">Ofertas</a></span>
                 <span><a href="/encuentras">Encuentranos</a></span>
                                  <span><a href="/ayuda">Ayuda</a></span>
			</nav>


       	<section class="main" id="s1">
			   <%- body %>
			</section>
<h2 class="title"><a href="#">BIENBENIDOS A NUESTRAS GALERIAS UNICAS EN LA PAZ </a></h2>
        <p class="meta"><span class="date">Junio 21, 2016</span></span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">         
          <p>LE DAMOS LA BIEN VENIDA A NUETRA GALERIA DE PRODUCTOS PARA HOGAR, DONDE USTED PODRA LLEVAR UNA VARIEDAD DE MUEBLES OBSERVANDO: EL COLOR, TAMAÑO, MODELOS, ENTRE OTRAS CARACTERISTICAS Q USTED ESTA BUSCANDO PARA SU HOGAR.</p>
        </div>
      </div>
      <div class="post">
        <h2 class="title"><a href="#">VARIEDAD DE MUEBLES NUEVOS</a></h2>
        <p class="meta"><span class="date">Diciembre 1, 2016</span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          <p>EN ESTE MES DE DICIEMBRE, MES NAVIDEÑO ESTAMOS LLENOS DE SORPRESAS Y REGALOS PARA NUESTROS CLIENTES, QUE AUNQ PRO SOLO UNA VEZ DE SU VISITA, PODRA LLEVARSE UNA GRAN VARIEDAD DE REGALOS Y REBAJAS.</p>
        </div>
      </div>
      <div class="post">
        <h2 class="title"><a href="#">NUESTROS PROMOCIONES </a></h2>
        <p class="meta"><span class="date">Noviembre 1, 2016</span></p>
        <div style="clear: both;">&nbsp;</div>
        <div class="entry">
          <p>NOVIEMBRE EL MES DE PROMOCIONES, VOTAMOS LA CASA POR LA VENTANA Y TE DAMOS LAS GRANDES OFERTAS, POR LA COMPRA DE UN MUEBLES DE COCINA DE MAYOR A 3000BS, AUTOMATICAMENTE TE LLEVARAS UNA MESA QUE ES ACORDE PARA TUS VEGETALES.</p>
          <p class="links"></p>
        </div>
      </div>
    <div style="clear: both;">&nbsp;</div>
    </div>
    <!-- end #content -->
    <div id="sidebar">
      <ul>
        <li>
          <div id="search" >
          <form method="get" action="#">
            <div>
              <input type="text" name="s" id="search-text" value="" />
              <input type="submit" id="search-submit" value="GO" />
            </div>
          </form>
          </div>
          <div style="clear: both;">&nbsp;</div>
        </li>
        <li>
          <h2>ESTAMOS EN TODO LOS LUGARES DE BOLIVIA</h2>
          <p>CON DISTINTAS GALERIAS, ABIERTA NUESTRAS PARA TODA MI GENTE LINDA, ATENDIENDOLOS CON AMABILIDAD Y CORTESIA.  </p>
        </li>
        <li>
          <h2>NUESTRAS GALERIAS</h2>
          <ul>
            <li><a href="#">MUEBLERIA "AMERICAN" COCHABAMBA</a></li>
            <li><a href="#">MUEBLERIA "AMERICAN" SANTA CRUZ</a></li>
            <li><a href="#">MUEBLERIA "AMERICAN" TARIJA</a></li>
            <li><a href="#">SMUEBLERIA "AMERICAN" POTOSI</a></li>
            <li><a href="#">MUEBLERIA "AMERICAN" SUCRE</a></li>
            <li><a href="#">PMUEBLERIA "AMERICAN" BENI</a></li>
          </ul>
        </li>
      </ul>
    </div>
            <footer class="main" id="f1">
				<a href="">Concatenos</a>
			</footer>

</div>
  </body>
</html>
